<style>
.headerContainer {
padding-top: 30px;
padding-bottom: 30px;
border-radius: 25px;
background: #e8eaed;
}
.header {
  text-align: center;
  font-size: 400%;
  color: black;
  -webkit-text-fill-color: red; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.startButton {
margin:0 auto;
display: block;
background-color: red;
-webkit-text-fill-color: white; /* Will override color (regardless of order) */
-webkit-text-stroke-color: black;
border-radius: 12px;
}
.buttonContainer {
  padding-top: 300px;
  align-items: center;
}
.buttonBackground {
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 25px;
    background: #e8eaed;
    margin: 0 auto;
    width:30%;
}
</style>
<div class="container headerContainer">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h1 class="header">Welcome to Poke-Sim Battle Royale</h1>
    </div>
  </div>
</div>

<div class="container buttonContainer">
  <div class="row">
    <div class="container buttonBackground">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <button class="btn btn-primary startButton">Start Game</button>
    </div>
  </div>
  </div>
</div>
